# Dependency directories
node_modules
**/node_modules

# Build output
.dist
/build
/dist

# VCS
.git
.gitignore

# IDE/editor
.vscode
.idea
*.swp
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Docker
Dockerfile*
docker-compose*.yml
.docker*
